<!DOCTYPE html>
<html>

  <head>
      <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Google Maps Multiple Markers</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBwscya3QXeuWqVAjv9orSKLKJIEG7w6R8&libraries=visualization"></script>
  </head>
  <body>
    <form method="post">
      Please select a topic from the dropdown -
        <select name="tags">
          <option selected disabled>Choose here</option>
          <option value="Trump">Trump</option>
          <option value="China">China</option>
          <option value="Amazon">Amazon</option>
          <option value="Football">Football</option>
          <option value="Dinner">Dinner</option>
          <option value="Google">Google</option>
          <option value="Love">Love</option>
          <option value="Facebook">Facebook</option>
          <option value="Apple">Apple</option>
          <option value="Chicken">Chicken</option>
        </select>
        <input type="submit" name='tags' value="Plot"/>
    </form>

  <div id="map"></div>

  <script type="text/javascript">
    var locations = {{locs}};
    var xmlhttp = new XMLHttpRequest();
    console.log(locations);
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 2,
      center: new google.maps.LatLng(2.8, -187.3),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;
    var heatmapData = [];

    for (i = 0; i < locations.length; i++) {
      var latLng = new google.maps.LatLng(locations[i][0], locations[i][1])
      heatmapData.push(latLng);
      //marker = new google.maps.Marker({
      //  position: latLng,
      //  map: map
      //});
    }

    var heatmap = new google.maps.visualization.HeatmapLayer({
          data: heatmapData,
          dissipating: false,
          map: map
        });
    google.maps.event.addListener(map, 'click', function(event) {
        console.log(event.latLng.lat());
        console.log(event.latLng.lng());
        var lat = event.latLng.lat().toString();
        var lng = event.latLng.lng().toString();
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST","/local?lat=" + lat + "&lon=" + lng, true);
        console.log("opening XMLHttpRequest")
        xmlhttp.send();
        console.log("sending XMLHttpRequest");
    });

  </script>
  </body>
</html>
